*
{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
nav
{
	height: 60px;
	width: 100%;
	background-color:grey;

}
nav ul
{
	list-style: none;
	float: right;
	margin-top: -30px;
}
nav ul li
{
	display:inline;
	font-size:25px;
	padding:10px; 
	margin:0px;
}
body
{
	background:#48fb47;

}
.intro
{
	background-image: url('image.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	width:100%;
	height: 800px;
	margin-top:-50px;

}
h1
{
	text-align:left;
	font-size:30px;
	padding:10px;
	width:50%;
}
h2
{
	font-size:30px;
	text-align: center;
	color: #48fb47;
}
.sub-div
{
	margin:100px 250px 100px 300px;
	font-size:25px;
}
.col
{
	border:2px solid grey;
	width:200px;
	margin: 10px auto 10px 30%;
	padding: 10px;
	background-color: lightgrey;

}
.p
{
	margin: 50px auto 50px 350px;
	width:60%;
	height: 100px;
	font-style: italic;
	font-size: 25px;
	padding: 5px;

}
a
{
	text-decoration: none;
	color: black;
}
.sub
{
	margin: 5px auto -2px auto;
	width:100%;
	height: 500px;
	background-image: url('img-6.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;

}
table,th,td
{
	border:2px solid white;
	border-collapse:collapse;
} 
footer
{
	text-align:center;
	background-color:black;
	height:100px;
}
.footer
{
	color: #48fb47;
	font-size:30px;
}
/*Large-device*/
@media(min-width:992px)
{

}
/*Medium-device*/
@media (min-width:768px) and (max-width:991px)
{
    .p
    {
    	margin-left:250px;
    }h2
    {
	    font-size:27px;
	    text-align: center;
    }
    .sub-div
    {
	    margin:100px 100px 100px 200px;
	    font-size:23px;
    }
    .footer
    {
	   font-size:25px;
    }
}
/*Small-device*/
@media(min-width: 569px) and (max-width:767px)
{
	.p
    {
    	margin-left:220px;
    }
    h2
    {
	    font-size:24px;
	    text-align: center;
    }
    .sub-div
    {
	    margin:100px 100px 100px 100px;
	    font-size:20px;
    }

}
/*XS-Small-device*/
@media(max-width:570px)
{
    .p
    {
    	margin-left:200px;
    }
    .pd
    {
    	margin-top:150px;
    }
    h2
    {
	    font-size:20px;
	    text-align: center;
    }
    .sub-div
    {
	    margin:100px 100px 100px 70px;
	    font-size:18px;
    }
    h1
    {
    	width:30%;
    }
    nav ul
    {
    	width:60%;
    }
    nav ul li
    {
    	padding:5px;
    	font-size:22px;
    }
    .footer
    {
	   color: #48fb47;
	   font-size:20px;
    }

}
@media(max-width:525px)
{
	.p
    {
    	margin-left:180px;
    }
    h1
    {
    	width:25%;
    	font-size:25px;
    	padding:10px 5px 5px 5px;
    }
    nav ul
    {
    	width:60%;
    }
    nav ul li
    {
    	padding:5px;
    	font-size:20px;
    }


}